body{
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;  
  background-color: #091B2C;
  color: aliceblue;
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  align-items: center;
}  
.logo img {
  max-width: 500px 100%;
  max-height: 300px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 300px;
    margin-bottom: 4rem;
  }

footer a, .active {
    padding: 20px;
  }

a {
    text-decoration: none;
    color: aliceblue;
  }  
  
h1 {
    text-align: center;
}
  
h1,h2,h3 {
  text-transform: capitalize;
  font-weight: 1;
}

.display-text {
  border: solid 2px aliceblue; 
  border-radius: 10px;
  width: 6em;
  padding: 10px;
  font-size: 1.3em;
  margin: 20px;
}


  .slider {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: hidden; 
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    top: 300px;
    text-align: center;
  }

  .slide {
    width: 90%;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slide p {
    text-align: left;
  }

  .small-slider {
      max-width: 100%;
      height: 100%;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden; 
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      font-size: 0.9em;
      margin-top: 2rem;
  }
  
  .small-slider img {
    max-height: 90%;
  }

  .active {
    font-weight: 600;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
  }

.cta-button, .slide {
  cursor: pointer;
}


 /* MOVIE DETAILS */

.movie-details {
  display: none;
}

.movie-text {
  padding: 20px;
}
/* HOVER STATE */

  nav a:hover, footer a:hover {
    text-decoration: underline;
  }

  .slide:hover,  .all-movies *:hover {
    background-color: #000000;
    border-radius: 12px;
    transition: 0.3s;
    text-decoration: underline;
  }
  
  .cta-button:hover, .display-text:hover {
    background-color: aliceblue;
    color: #091B2C;
  }



  /* Contact Page */ 


  input,textarea {
    border-radius: 8px;
    padding: 12px;
    max-width: 1000px;
    margin-top: 10px;
  }

  .form-container {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
  }
 
  .contact-text h1{
    text-align: left;
  }
  .contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
  }

  .contact button {
    margin-top: 20px;
  }
  .form-field {
    margin: 20px;
    padding: 10px;
  }

  .success {
    padding: 20px;
    max-width: 400px ;
  }

  /* About page */


  .about {
    background-color: #92A9BF;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.9em;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
/* Product details page */

  .product-details {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    max-height: 100%;
  }

  .cta-button {
    border: solid 3px black;
    border-radius: 10px;
    width: 220px;
    background-color: #92A9BF;
    color: #000;
    padding: 10px;
  }


  /* List of videos page */

  
  .all-movies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    text-align: center;
    text-transform: capitalize;
    max-width: 100%;
    margin: auto;
    font-size: 1.2em;
  }

  .all-movies div {
    padding: 10px;
  }

/* Checkout page */

  .checkout {
    display:flex;
    max-width: 100%;
    justify-content: center;
  }

  .cover {
    max-width: 400px;
    padding-left: 30px ;
  }

  form {
    max-width: 300px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 2rem;
  }

  .checkout .cta-button {
    margin: 10px;
    padding: 20px;
  }


 /* Checkout Success page */
  .success-movie {
    display: flex;
    justify-content: center;
  }

/* JS */

.form-error {
  color: rgb(218, 95, 95);
}


  @media only screen and (min-width: 601px) 
  

  {

    .hamburger {
      display: none;
    }

    nav ul{
      display: flex;
      list-style: none;
    }

    nav a {
      padding: 20px;
      font-size: 1.2em;
    }

    .slide {
      flex-shrink: 1;
      padding: 10px 30px;
    }

    #slide-2, #slide-3, #slide-4, #line-one, #line-two, #line-three, #menu-checkbox {
      display: none;
    }
    .slider {
      width: 600px;
      display: flex;
      justify-content: center;
      margin: auto;
    }
   
    .all-movies {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 80%;
      margin: auto;
    }
  
    .about {
      background-color: #091B2C;
      color: rgb(209, 218, 226);
      font-size: 1em;
    }
    header {
      display: flex;
    }
  }


  /* MOBILE SCREEN */ 

  @media only screen and (max-width: 600px)

  { 

        /* HAMBURGER MENU */

        .hamburger {
          position: fixed;
          z-index: 100;
          top: 1rem;
          left: 1rem;
         padding: 10px;
         border-radius: 10px;
         border: 0px;
         background: #091B2C;
         color: aliceblue;
      
          }
    
        .closeIcon {
          display: none;
        }

    
        .menu {
          position: fixed;
          transform: translatex(-100%);
          transition: transform 0.2s;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 99;
          background: #091B2C;
          color: aliceblue;
          list-style: none;
          padding-top: 3rem;
        }    
    
        .showMenu {
         transform: translatex(0);
        }   
    

    nav {
      text-align: center;
    }    
    
    nav a {
    display: inline-block;
    background-color:  #92A9BF;
    color: #091B2C;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.2rem;
    max-width: 80%;
    border: 1px solid black;
    }

    .checkout {
      flex-direction: column;
      width: 100%;
      margin: 10px;
      justify-content: center;
    }
    .checkout form {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    .cover {
     justify-content: center;
     margin: auto;
     padding: 20px;
    }

    .product-details *{
      max-width: 100%;
    }
    .product-details {
      justify-content: center;
      margin: 10px;
    }

    .slider {
      display: flex;
      justify-content: center; 
      }

    .slide-wrapper {
      margin-bottom: 3rem;
    }
    .small-slider img{
      max-height: 80vh;
    }

    .video {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  
  }
